:root {
    --text-color: #fff;
    --primary-color: #EE4D2D;
    --black-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: #FFCE3E;
}

* {
    box-sizing: border-box;
    /* box-sizing: inherit; */
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.grid__col-2 {
    width: 16.6667%;
    padding: 0 10px;
}

.grid__col-2-4 {
    width: 20%;
    padding: 0 5px;
}

.grid__col-10 {
    width: 83.3333%;
    padding: 0 10px;
}

html {
    font-size: 62.5%;
    font-family: Roboto;
    line-height: 1.6rem;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-container {
   width: 400px;
   background-color: #fff;
   min-height: 200px;
   border-radius: 4px;
   position: relative;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #E94235;
    padding: 5px 9px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.modal-close:hover {
    cursor: pointer;
    background-color: #ccc;
}

.modal-close-icon {
    font-size: 2rem;
    color: #fff;
}

.btn {
    min-width: 90px;
    padding: 8px 12px;
    font-size: 1.4rem;
    cursor: pointer;
    border: none;
    color: #000; 
    text-decoration: none;
    border-radius: 4px;
}

.btn--disabled {
    opacity: 0.5 !important;
    cursor: default !important;
    background-color: #fff !important;
}

.btn--active {
    background-color: var(--primary-color) !important;
    color: #fff;
    cursor: default;
}

.btn + .btn {
    margin-left: 12px;
}

/* keyframe ant */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes zooming {
    from {
        scale: 0;
        opacity: 0;
    }
    to {
        scale: 1;
        opacity: 1;
    }
}