
.header {
    height: 120px;
    background: linear-gradient(#F63F2E, #FF6633) ;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar__list {
    padding-left: 0;
    display: flex;
}

.navbar__item {
    list-style: none;
    display: inline-flex;
    padding: 0 10px;
    position: relative;
    color: var(--text-color);
    font-size: 1.4rem;
}

.navbar__item-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    text-transform: capitalize;
}

.navbar__item-link:hover,
.navbar__connect-item-link:hover {
    opacity: 0.8;
}

.navbar__item--separate::after {
    content: "";
    width: 2px;
    height: 14px;
    background-color: #F96D5C;
    position: absolute;
    top: 0;
    right: 0;
}

.navbar__connect {
    display: inline-flex;
    justify-content: space-between;
    width: 92px;
}

.navbar__connect-item-link {

}

.navbar__icon {
    font-size: 1.7rem;
    color: var(--text-color);
}

/* QR code */

.navbar__QR {
    position: absolute;
    top: 150%;
    left: 0;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 10;
}

.navbar__QR::before {
    content: "";
    position: absolute;
    top: -16px;
    left: 0;
    width: 56%;
    height: 20px;
    background-color: transparent;
}

.navbar__QR-img {
    border-radius: 4px;
}

.navbar__QR-download {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 12px;
}

.navbar__QR-download-app {
    width: 80px;
    margin-bottom: 8px;
}

/* show QR */

.navbar__item-hasQR:hover .navbar__QR {
    display: block;
    animation: fadeIn ease 0.4s;
}

/* notify */

.navbar__notify {
    position: absolute;
    top: 150%;
    right: 0;
    background-color: #fff;
    width: 390px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    display: none;
    animation: zooming ease 0.5s;
    transform-origin: 90% top;
    border-radius: 4px;
    z-index: 10;
}

.navbar__notify::before {
    content: "";
    position: absolute;
    top: -16px;
    right: 0;
    height: 20px;
    width: 30%;
    background-color: transparent;
}

.navbar__notify::after {
    content: "";
    position: absolute;
    top: -32px;
    right: 4%;
    border: 20px solid;
    border-color: transparent transparent #fff transparent;
}

/* show notify */

.navbar__item-has-notify:hover .navbar__notify {
    display: block;
}

.navbar__notify-header {
    color: rgb(177, 176, 176);
    margin-left: 12px;
    height: 40px;
    line-height: 40px;
    font-weight: 400;
}

.navbar__notify-list {
    padding-left: 0;
    list-style: none;
} 

.navbar__notify-item {
    padding: 12px;
}

.navbar__notify-item:hover {
    background-color: #F7F7F7;
}

.navbar__notify-item--viewed {
    background-color: #FEF1EE;
}   

.navbar__notify-item-link {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: var(--black-color);
}

.navbar__notify-item-img {
    object-fit: contain;
    width: 48px;
}

.navbar__notify-item-content {
    text-decoration: none;
    margin-left: 12px;
}

.navbar__notify-item-title {
    font-weight: 500;
    line-height: 1.6rem;
}

.navbar__notify-item-desc {
    margin-top: 8px;
    color: #756F6E;
}

.navbar__notify-footer {

}

.navbar__notify-view-all {
    text-decoration: none;
    color: var(--black-color);
    width: 100%;
    text-align: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 12px 0px;
}

/* navbar-language */

.navbar__language {
    position: absolute;
    top: 150%;
    right: 8px;
    z-index: 10;
    background-color: #fff;
    width: 150px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: none;
    transform-origin: 80% top;
    animation: zooming ease 0.5s;
}

.navbar__item-has-language:hover .navbar__language {
    display: block;
}

.navbar__language::before {
    content: "";
    position: absolute;
    top: -16px;
    right: 0;
    height: 20px;
    width: 60%;
    background-color: transparent;
}

.navbar__language::after {
    content: "";
    position: absolute;
    top: -32px;
    right: 4%;
    border: 20px solid;
    border-color: transparent transparent #fff transparent;
}

.navbar__language-option {
    color: var(--black-color);
    font-size: 1.4rem;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
}

.navbar__language-option:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.navbar__language-option:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.navbar__language-option:hover {
    /* background-color: #F7F7F7; */
    color: var(--primary-color);
    cursor: pointer;
}

.navbar__language-checked {
    color: var(--primary-color);
    display: none;
}

/* checked language  */
.navbar__language--active .navbar__language-checked {
    display: block;
}

.navbar__item-user {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar__item-user-img {
    width: 22px;
    border-radius: 50%;
    object-fit: contain;
}

.navbar__item-user:hover .user-info {
    display: block;
}

.navbar__item-user-name {
    margin-left: 4px;
}

.user-info {
    position: absolute;
    top: 150%;
    right: 0;
    background-color: #fff;
    box-shadow: 1px 1px 1px #ccc;
    border-radius: 4px;
    z-index: 1;
    animation: fadeIn linear 0.3s;
    display: none;
}

.user-info::before {
    content: "";
    position: absolute;
    top: -16px;
    right: 0;
    height: 20px;
    width: 80%;
    background-color: transparent;
}

.user-info__item-link {
    display: block;
    width: 100px;
    padding: 8px 12px;
    text-decoration: none;
    color: var(--black-color);
}

.user-info__item-link:hover {
    background-color: #F7F7F7;
}

.user-info:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.user-info:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Auth-form */

.auth-form {
    padding: 0 24px;
}

.signup-form {
    display: none;
}

.login-form {
    display: none;
}

.auth-form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;
}

.auth-form__heading {
    font-size: 2.4rem;
    font-weight: 500;
    user-select: none;
}

.auth-form__switch {
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__body {
    display: flex;
    flex-direction: column;
}

.auth-form__group {
    display: flex;
    flex-direction: column;
}

.auth-form__label {
    margin-top: 12px;
    margin-bottom: 8px;
    font-size: 1.5rem;
}

.auth-form__input {
    padding: 8px 12px;
    font-size: 1.4rem;
    border-radius: 50px;
    border: 1px solid  #ccc;
}

.auth-form__input:focus {
    outline-color: var(--primary-color);
}

.auth-form__policy,
.auth__login-support {
    margin: 24px;
    font-size: 1.2rem;
}

.auth-form__policy a {
    color: var(--primary-color);
    font-size: 1.4rem;
} 

.auth-form__aside { 
    text-align: center;
}

.btn--signup {
    background-color: #42B72A;
}

.btn--login {
    background-color: #0B83ED;
}

.auth-form__footer {
    margin: 24px 0px;
}

.auth-form__social {
    display: flex;
    justify-content: space-between;
}

.auth-form__social-item {
    flex: 1;
}

.btn--facebook {
    background-color: #0077F7;
}

.btn--google {
    background-color: #E94235;
}

.auth-form__login-support {
    margin: 12px 0px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth-form__login-remember-pass {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

.auth-form__login-remember-pass-checkbox {
    margin-right: 4px;
}

.auth-form__login-forgot-pass {
    font-size: 1.4rem;
    color: #0077F7;
    text-decoration: none;
}

.auth-form__login-forgot-pass:hover {
    text-decoration: underline;
}

.banner {
    margin: 0 10px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.home-logo {
    border-radius: 4px;
    border: 1px solid var(--primary-color);
}

.home-logo-img {
    height: 50px;
    object-fit: contain;
    border-radius: 4px;
}

/* search-top */
.search-top {
    height: 34px;
    flex-grow: 1;
    background-color: #fff;
    display: flex;
    margin: 0 12px;
    padding: 3px;
    border-radius: 4px;
    position: relative;
}

.search-top__input {
    padding: 0 10px;
    flex-grow: 1;
    border: none;
    font-size: 1.4rem;
    border-radius: 4px;
    outline: none;
}

.search-top__btn {
    background-color: var(--primary-color);
    color: #fff;
    padding: 0 24px;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.search-top__btn:hover {
    background-color: #f58a7e;
    cursor: pointer;
}

.search-top__icon {
    font-size: 1.5rem;
}

.cart-on-search {
    width: 138px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.cart-on-search__icon {
    font-size: 2.4rem;
    color: #fff;
}

.cart-on-search__quantity-item {
    color: var(--primary-color);
    background-color: #fff;
    border: 2px solid var(--primary-color);
    padding: 2px 8px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 40%;
    position: absolute;
    top: -12px;
    right: 42px;
}

/* shopping cart */

.shopping-cart {
    position: absolute;
    top: 36px;
    right: 44px;
    width: 400px;
    background-color: #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    display: none;
    animation: zooming ease 0.5s;
    transform-origin: 95% top;

}

.cart-on-search:hover .shopping-cart {
    display: block;
}

.shopping-cart::before {
    content: "";
    position: absolute;
    height: 34px;
    width: 16%;
    top: -32px;
    right: -10px;
    background-color: transparent;
}

.shopping-cart::after {
    content: "";
    position: absolute;
    top: -32px;
    right: 1%;
    border: 20px solid;
    border-color: transparent transparent #fff transparent;
}

.shopping-cart__header {
    margin: 8px 12px;
    color: #999;
    font-size: 1.4rem;
}

.shopping-cart__body {

}

.shopping-cart__list-item {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.shopping-cart__item {

}

.shopping-cart__item-link {
    height: 66px;
    text-decoration: none;
    display: block;
    padding: 0 12px; 
}

.shopping-cart__item-link:hover {
    background-color: #F7F7F7;
}

.shopping-cart__item-wrap {
    display: flex;
    align-items: center;
    height: 100%;
}

.shopping-cart__item-img {
    width: 50px;
    object-fit: contain;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.shopping-cart__item-info {
    margin-left: 10px;
    flex-grow: 1;
}

.shopping-cart__item-head {
    display: flex;
    justify-content: space-between;
}

.shopping-cart__item-name {
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 500;

}

.shopping-cart__item-price-section {

}

.shopping-cart__item-price {
    font-size: 1.4rem;
    color: var(--primary-color);
}

.shopping-cart__item-multi-icon {
    font-size: 1.4rem;
    margin: 0 2px;
    color: #756F6E;
}

.shopping-cart__item-quantity {
    font-size: 1.4rem;
    color: #756F6E;
}

.shopping-cart__item-body {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}

.shopping-cart__item-type {
    color: #756F6E;
    font-size: 1.2rem;
}

.shopping-cart__item-del {
    font-size: 1.4rem;
    color: #756F6E;
}

.shopping-cart__item-del:hover {
    color: var(--primary-color);
}

.shopping-cart__item-link.last-item{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* search-top history */
.search-history {
    position: absolute;
    top: 108%;
    left: 0;
    background-color: #fff;
    width: 92%;
    border-radius: 4px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
    display: none;
}

/* show search history */
.search-top__input:focus ~ .search-history {
    display: block;
}

.search-history__header {
    margin: 6px 12px;
}

.search-history__heading {
    color: rgb(177, 176, 176);
    font-size: 1.4rem;
    user-select: none;
}

.search-history__body {

}

.search-history__item-list {
    list-style: none;
    padding-left: 0;
}

.search-history__item {
    display: flex;
    align-items: center;
}

.search-history__item-link {
    flex-grow: 1;
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--black-color);
    padding: 10px 12px;
}

.search-history__item-close {
    cursor: pointer;
    padding: 8px 12px;
    font-size: 1.5rem;
}

.search-history__item-close:hover {
    color: var(--primary-color);
}

.search-history__item:hover {
    background-color: #F7F7F7;
}

.subnav {

}

.subnav-list {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-left: 0;
}

.subnav-item {
}

.subnav-item-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    margin: 0 12px;
}

.subnav-item-link:hover {
    color: #F7F7F7; 
}

.app__container {
    background-color: #F5F5F5;
    padding-top: 36px;
    min-height: 500px;
}

.category {
    background-color: #fff;
    border-radius: 4px;
}

.category__icon {
    margin-right: 4px;
}

.category__heading {
    margin: 0px;
    padding: 16px 10px;
    font-size: 1.6rem;
}

.category__body {
    display: flex;
    flex-direction: column;
}

.category__body-item-link {
    text-decoration: none;
    color: var(--black-color);
    padding: 8px 12px;
    font-size: 1.4rem;
    transition: linear 0.2s;
    position: relative;
    right: 0;
    padding-left: 34px;
}

.category__body-item-link--active {
    color: var(--primary-color);
}

.category__body-item-link--active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    border: 8px solid;
    border-color: transparent transparent transparent var(--primary-color);
    transform: translateY(50%);
}

.category__body-item-link:hover {
    color: var(--primary-color);
    right: -2px;
}

.category__body:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}